<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <style>
      .message {
        color: red;
        margin-bottom: 2rem;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/signin">Sign In</a>
      </nav>
    </header>
    <h1>Sign Up</h1>
    <section class="message"><%= message %></section>
    <form action="/signup" method="post">
      email: <input name="email" type="email" /> <br />
      name: <input name="name" type="text" /> <br />
      password: <input name="pw" type="password" /> <br />
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
