@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

h1 {
    font-display: swap;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5em;
    color: #0ccac4;
    font-weight: 200;
}

input {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}